*{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
body{
    background-color: lightblue !important;
    min-height: 100vh;
    overflow-x: hidden;
}
/* sidebar */
.vertical-nav{
    min-width: 15rem;
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
.page-content{
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
}
#sidebar.active {
    margin-left: -15rem;
}
#content.active {
    width: 100%;
    margin: 0;
}
.vertical-nav .nav .nav-item{
    background-color: aliceblue;
}
.vertical-nav .nav .nav-item a{
    color: #000;
    font-size: 1.1rem;
    padding: 4px;
    padding-left: 12px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.vertical-nav .nav .nav-item .nav-link i{
    margin-right: 5px;
}
.vertical-nav .nav .nav-item .lesson{
    display: none;
}
.vertical-nav .nav .nav-item .lesson li{
    margin-bottom: 3px;
}
.vertical-nav .nav .nav-item .lesson li .list-group .list{
    margin-left: -24px;
    margin-top: 5px;
}
.vertical-nav .nav .nav-item .list-group{
    display: none;
    text-align: center;
}
.vertical-nav .nav .nav-item .list-group .list a{
    border: 1px solid grey;
}
/* hover */
.vertical-nav .nav .nav-item:hover > .lesson{
    display: grid;
}
.vertical-nav .nav .nav-item a:hover{
    background: blue;
    transition: all 0.5s;
}
.vertical-nav .nav .nav-item:hover > .list-group{
    display: flex;
}
.vertical-nav .nav .nav-item .lesson li:hover > .list-group{
    display: flex;
}
/* hover end*/
/* sidebar end */
/* nav */
.page-content .nav .jumbotron-fluid{
    border-radius: 10px;
    border-bottom: 5px solid rgba(67, 36, 243, 0.5);
    border-left: 3px solid rgba(67, 36, 243, 0.5);
}
.page-content .nav .jumbotron-fluid button{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4) !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(200, 240, 200, 0.4) !important;
}
.page-content .nav .jumbotron-fluid button:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.page-content .nav .jumbotron-fluid h2{
    font-size: 1.5rem;
}
.page-content .nav .jumbotron-fluid img{
    max-width: 45px;
    max-height: 45px;
    display: none;
}
/* nav end */
/* recent on */
.page-content .recently .jumbotron{
    border-radius: 6px;
    border-radius: 10px;
    border-bottom: 5px solid rgba(67, 36, 243, 0.5);
    border-left: 2px solid rgba(67, 36, 243, 0.5);
    border-right: 2px solid rgba(67, 36, 243, 0.5);
    border-top: 1px solid rgba(67, 36, 243, 0.5);
}
.page-content .recently .jumbotron .list-recenton h2{
    font-size: 1.5rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #bdc3c7;
}
.page-content .recently .jumbotron .list-recenton .table thead tr th{
    font-size: 10px;
}
.page-content .recently .jumbotron .list-recenton .table tbody tr td .user h6{
    font-size: 12px;
}
.page-content .recently .jumbotron .list-recenton .table tbody tr td .user img{
    width: 22px;
    height: 20px;
}
.page-content .recently .jumbotron .list-recenton .table tbody tr td p{
    font-size: 10px;
}
.page-content .recently .jumbotron .list-recenton .table tbody tr td p.rounded-pill.aktip{
    border: 1px solid rgb(11, 240, 11, 0.4);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    background: rgba(88, 226, 88, 0.2);
}
.page-content .recently .jumbotron .list-recenton .table tbody tr td p.rounded-pill.off{
    border: 1px solid rgba(252, 29, 29, 0.4);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    background: rgba(226, 88, 88, 0.2);
}
/* recent on end */
/* footer */
footer .foot .d-flex span{
    color: #ddd;
    margin: auto;
}
/* footer end */
/* class */
.page-content .kelas .jumbotron .container .murid .card-group .card{
    height: 140px;
}
.page-content .kelas .jumbotron .container .murid .card-group .card p{
    font-size: 15px ;
}
.page-content .kelas .jumbotron .container .murid .card-group .card .card-body .row .col-6 h5{
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.page-content .kelas .jumbotron .container .murid .card-group .card .card-body .row .col-6 p{
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
/* class end */
/* carousel */
.page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table thead tr th{
    font-size: 13px;
}
.page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table tbody tr td p , .user h6{
    font-size: 11px;
}
.page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table tbody tr td p{
    margin-top: 8px;
}
.page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table tbody tr td .user img{
    width: 20px;
    height: 20px;
}
/* button np */
.page-content .absen .jumbotron .carousel .tombol a{
    height: 50px;
    margin-top: -61px;
}
/* button np end*/
/* carousel end */
/* dekstop v */
@media (min-width: 992px) {
    /* nav */
    .page-content .nav .jumbotron-fluid h2{
        font-size: 2rem;
    }
    .page-content .nav .jumbotron-fluid img{
        display: block;
    }
    /* nav end */ 
    /* list recent on */
    .page-content .recently .jumbotron .list-recenton h2{
        font-size: 1.9rem;
    }
    .page-content .recently .jumbotron .list-recenton .table thead tr th{
        font-size: 15px;
    }
    .page-content .recently .jumbotron .list-recenton .table tbody tr td .user h6{
        font-size: 14px;
    }
    .page-content .recently .jumbotron .list-recenton .table tbody tr td .user img{
        width: 30px;
        height: 25px;
    }
    .page-content .recently .jumbotron .list-recenton .table tbody tr td p{
        font-size: 13px;
    }
    /* list recent on end */
    /* class */
    .page-content .kelas .jumbotron .container .murid .card-group .card p{
        font-size: 19px ;
    }
    .page-content .kelas .jumbotron .container .murid .card-group .card .card-body .row .col-6 h5{
        font-size: 17px;
    }
    .page-content .kelas .jumbotron .container .murid .card-group .card .card-body .row .col-6 p{
        font-size: 15px;
    }
    /* class end */
    /* carousel */
    .page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table thead tr th{
        font-size: 18px;
    }
    .page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table tbody tr td p , .user h6{
        font-size: 16px;
    }
    .page-content .absen .jumbotron .carousel .carousel-inner .carousel-item .container table tbody tr td .user img{
        width: 30px;
        height: 30px;
    }
    /* carousel end */
}
/* dekstop v end*/
@media (min-width:770px) { 
}
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -15rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 7.4rem;
      width: calc(100% - 4.8rem);
    }
    .vertical-nav{
        min-width: 10rem;
        width: 10rem;
    }
  }